.upload-container {
	/* ... Existing styles ... */
	border: 2px dashed #ccc;
	padding: 20px;
	border-radius: 8px;
	cursor: pointer;
	transition: border-color 0.3s ease-in-out;
}

.upload-container.highlight {
	border-color: #007bff;
}

.file-label {
	display: block;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
}

.file-input {
	display: none;
}

select {
	width: 100%;
}

.checkbox {
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 20px;
}
label {
	width: 200px;
	text-align: center;
}
label span {
	margin-bottom: 20px;
	display: inline-block;
}

form > p {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
